@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/*Fonte do titulo*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/*Fonte dos textos*/


:root{
--Titulo:'Passion One', cursive;
--Cordel:'Sriracha', cursive;
--Sans:Verdana, Geneva, Tahoma, sans-serif;
}